.Register {
  h1 {
    padding: 30px 0;
  }

  &__welcome-image {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__Item {
    margin-bottom: 15px;
  }

  &__button-group {
    align-items: center;
  }
}